<div class="page-header">
  <%= link_to operadors_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_operador_path(@operador), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar operador</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @operador.nome %></dd>

  <dt>Email:</dt>
  <dd><%= @operador.email %></dd>

  <dt>Password:</dt>
  <dd><%= @operador.password %></dd>

  <dt>Password digest:</dt>
  <dd><%= @operador.password_digest %></dd>

  <dt>Administrador:</dt>
  <dd><%= @operador.administrador %></dd>

</dl>
