<div class="page-header">
  <%= link_to administrador_cliente_enderecos_path(@cliente), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_administrador_cliente_endereco_path(@cliente, @endereco), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar Endereço - <%= @cliente.nome %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Cliente:</dt>
  <dd><%= link_to @endereco.cliente.nome, administrador_cliente_path(@endereco.cliente_id)%></dd>
  <dt> Rua </dt>
  <dd><%= @endereco.rua %></dd>
  <dt> Cep </dt>
  <dd><%= @endereco.cep %></dd>
  <dt> Estado </dt>
  <dd><%= @endereco.estado %></dd>
  <dt> Cidade </dt>
  <dd><%= @endereco.cidade %></dd>
  <dt> Complemento </dt>
  <dd><%= @endereco.complemento %></dd>
  <dt> Numero </dt>
  <dd><%= @endereco.numero %></dd>
  <dt> Bairro </dt>
  <dd><%= @endereco.bairro %></dd>
</dl>
