<div class="page-header">
  <%= link_to new_administrador_operador_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Operador
  <% end %>
  <h1>Lista de operadors</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Administrador</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @operadors) do |operador| %>
        <td><%= operador.nome %></td>
        <td><%= operador.email %></td>
        <td><%= operador.administrador %></td>
        <td><%= link_to 'Mostrar', administrador_operador_path(operador) %></td>
        <td><%= link_to 'Editar', edit_administrador_operador_path(operador) %></td>
        <td><%= link_to 'Remover', administrador_operador_path(operador), method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
