<%= link_to treinador_cliente_treino_clientes_path(@treino_cliente.cliente_id), class: 'btn btn-default', style: 'position: absolute; left: 10px; top: 60px;' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Voltar
<% end %>
<h4 style="text-align: center; margin-top: 20px;">Andamento de Exercícios</h4>
<%= render 'treinador/shared/legenda' %>
<table class="table table-bordered table-hover"  style="text-align: center;">
  <tbody>
      <% @andamento_exercicios.each do |andamento_exercicio| %>
      <tr id="andamento-<%= andamento_exercicio.id %>" <%= verifica_estilo_por_status(andamento_exercicio) %>>
        <td>
          <span><%= andamento_exercicio.nome %></span>
        </td>
        <td class='hover' style='color: red;' onclick='updateStatus("nao_realizado", <%= andamento_exercicio.id %>)'>
          <span>Falhou</span>
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </td>
        <td class='hover' style='color: green;' onclick='updateStatus("realizado", <%= andamento_exercicio.id %> )'>
          <span>Concluido</span>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
        <td data-toggle="collapse" data-target="#detalhes-<%= andamento_exercicio.id %>">
          <span>Detalhes</span>
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        </td>
      </tr>
      <tr id="detalhes-<%= andamento_exercicio.id %>" class="collapse">
        <td colspan='4'>
          <p><%= andamento_exercicio.descricao %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  $(document).on("turbolinks:load", () => {
    App.cable.subscriptions.create({channel: "ProgressoTreinoChannel", id: <%= @treino_cliente.cliente_id %>}, {
      initialized: () => {
        console.log("Conexão websocket inicializada com sucesso")
      },
      connected: () => {
        console.log("Conexão websocket conectada com sucesso")
      },
      received: (data) => {
        const dadosTreino = data.find((treinoCliente) => treinoCliente.id === <%= @treino_cliente.id %>)
        dadosTreino.andamento_exercicios.forEach((andamentoExercicio) => {
          defineCorStatus(andamentoExercicio.id, andamentoExercicio.status)
        })
      }
    })
  })
  function updateStatus(status, id) {
    const confirmado = confirm(status == 'realizado' ? "Concluir andamento de exercicio?" : "Exercicio realmente não foi realizado?")
    if (!confirmado) return;

    const url = `/treinador/clientes/<%= @treino_cliente.cliente_id %>/treino_clientes/<%= @treino_cliente.id %>/andamento_exercicios/${id}/update_status`;

    $.ajax({
      method: 'PATCH',
      url: url,
      data: ({ status })
    })
    .done(() => {
      defineCorStatus(id, status)
    })
    .fail((res) => {
      console.log(res);
    })
  }

  function defineCorStatus(id, status) {
    if (status == "nao_realizado") {
      document.getElementById("andamento-" + id).style.backgroundColor = "#ff9595";
    }
    else if (status == "realizado") {
      document.getElementById("andamento-" + id).style.backgroundColor = "#8bf96a";
    }
  }
</script>