<div class="page-header">
  <%= link_to new_administrador_cliente_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Cliente
  <% end %>
  <h1>Lista de clientes</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nome</th>
            <th>Whatsapp</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% data_atual = Time.zone.now %>
      <% @clientes.each do |cliente| %>
        <tr <% if cliente.prazo < data_atual %> style="border: 3px solid red" <% end %>>
          <td><%= cliente.nome %></td>
          <td><%= cliente.whatsapp %></td>
          <td><%= link_to 'Mostrar', administrador_cliente_path(cliente) %></td>
          <td><%= link_to 'Editar', edit_administrador_cliente_path(cliente) %></td>
          <td><%= link_to 'Remover', administrador_cliente_path(cliente), method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
