<div class="page-header">
  <%= link_to new_administrador_treinador_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Treinador
  <% end %>
  <h1>Lista de treinadors</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @treinadors) do |treinador| %>
        <td><%= treinador.nome %></td>
        <td><%= treinador.email %></td>
        <td><%= link_to 'Mostrar', administrador_treinador_path(treinador) %></td>
        <td><%= link_to 'Editar', edit_administrador_treinador_path(treinador) %></td>
        <td><%= link_to 'Remover', administrador_treinador_path(treinador), method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
