<%= form_for([@cliente, @treino_cliente], url: @treino_cliente.id ? operador_cliente_treino_cliente_path(@cliente, @treino_cliente) : operador_cliente_treino_clientes_path(@cliente,@treino_cliente), html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @treino_cliente.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
      <h4><%= pluralize(@treino_cliente.errors.count, "error") %> impediram esta  treino_cliente de ser salva:</h4>

      <ul>
      <% @treino_cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :treino_id, "Treino", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :treino_id, Treino.all.collect{ |treino| [treino.nome, treino.id] }, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cliente_id, "Cliente", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :cliente_id, Cliente.all.collect{ |cliente| [cliente.nome, cliente.id] }, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :dia_semana, "Dia da Semana", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :dia_semana, TreinoCliente.dia_semanas.map{ |key, val| [key, key] }, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
