<div class="page-header">
  <%= link_to new_operador_cliente_treino_cliente_path(@cliente), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Treino
  <% end %>
  <h1>Lista de Treinos - <%= @cliente.nome %></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Treino</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @treino_clientes) do |treino_cliente| %>
        <td><%= link_to treino_cliente.nome_treino, operador_treino_path(treino_cliente.treino_id) %></td>
        <td><%= link_to 'Mostrar', operador_cliente_treino_cliente_path(@cliente, treino_cliente) %></td>
        <td><%= link_to 'Editar', edit_operador_cliente_treino_cliente_path(@cliente, treino_cliente) %></td>
        <td><%= link_to 'Remover', operador_cliente_treino_cliente_path(@cliente, treino_cliente), method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
