<%= link_to treinador_root_path, class: 'btn btn-default', style: 'position: absolute; left: 10px; top: 60px;' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Voltar
<% end %>
<h4 style="text-align: center;">Treinos</h4>
<div class="table-responsive">
  <table class="table table-bordered table-hover"  style="text-align: center;">
    <tbody>
      <%= content_tag_for(:tr, @treino_clientes) do |treino_cliente| %>
        <td onclick="goExercicio(<%= treino_cliente.cliente_id %>, <%= treino_cliente.id %>)">
          <span><%= treino_cliente.nome %></span>
        </td>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  function goExercicio(cliente_id, treino_cliente_id){
    window.location.href = `/treinador/clientes/${cliente_id}/treino_clientes/${treino_cliente_id}/andamento_exercicios`
  }
</script>