<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <%= form_for :treinador, url: :login_treinador do |f| %>
      <%= f.text_field :email, placeholder: "Email" %>
      <%= f.password_field :password, placeholder: "Senha" %>
      <%= recaptcha_tags %>
      <%= f.submit "Entrar" %>
    <% end %>

  </div>
</div>